body { /* убираются отступы */
  margin: 0;
  background-color: rgb(10, 10, 10);    
}

.header { /* изображение */
  background-image: url(img/2021_bmw_m5_uk_22_1600x1200.jpg); 
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex; /* Делаем .header элементом Flexbox */   
}

.header_line { /*елементы в 1 строке*/
  display: flex;
  justify-content: space-between;
}

.line { /*полоска*/
  position: absolute;
  width: 90%;
  height: 2px;  
  background-color: #ccc; 
  top: 85px; /* Положение сверху */
  margin-left: 65px;
}

.nav {
  position: absolute;
  left: 129px;
  top: 0px;
  padding: 0px 15px
}

.nav-item {   /* шрифт */
  font-family: monospace;
  text-decoration: none;
  font-size: 20px;
  color: rgb(255, 255, 255);
  padding: 30px 15px;
  margin-right: 7px;
  display: inline-block;
  transition: color 0.6s linear;
}

.nav-item:hover {
  color: rgb(154, 197, 223);
/*color:rgb(175, 221, 240)*/
}

.header-logo {
  padding: 12px; /*  отступ от верхнего края*/
  margin-left: 60px; /* отступ с левого края */
}

.reg { /*  значок регистрации*/
  position: absolute;
  top: 30px;
  right: 100px;
  color: #ffffff;
}

.I { /* фотка со мной и тп */
  position: absolute;
  width: 120%;
  border-radius: 50%;
  top: 150px;
  left: 150px;
  z-index: 99;
  transform: translate(-50%, -50%);
  
}

.main {  /* Создание блока с информацией */
  box-sizing: border-box;
  padding: 3em;
  position: absolute;
  top: 150px;
  left: 100px;
}

.title { /* Заголовок */
  font-family: monospace;
  font-size: 40px;
  color:#ffffff;
  margin-bottom: 50px;
  position: relative;
  top: 0;
  left: 0;
  transition: all 1s;
  z-index: 9;
}

.title > span{
  font-size: 25px;
  display:block;
  color: #ffffff;
}

.desc{ /* Контейнер со всем текстом */
  width: 160px;
  font-family: monospace;
  font-size: 15px;
  color:#ffffff;
  left:0;
  bottom: 2rem;
  line-height: 1.8;
  position: relative;
  transition: all 1s;
}

.main:hover .container .title,
.main:hover .container .desc{
    left:160%;
}
/* Про второго разработчика */

.Seva { /* фотка со мной и тп */
  position: absolute;
  width: 140%;
  border-radius: 50%;
  top: 150px;
  left: 50px;
  z-index: 99;
  transform: translate(-50%, -50%);
}

.main-2 {  /* Создание блока с информацией */
  box-sizing: border-box;
  padding: 3em;
  position: absolute;
  top: 150px;
  left: 800px;
}

.title-2 { /* Заголовок */
  font-family: monospace;
  font-size: 40px;
  color:#ffffff;
  margin-bottom: 50px;
  position: relative;
  top: 0;
  left: 0;
  transition: all 1s;
  z-index: 9;
}

.title-2 > span{
  font-size: 25px;
  display:block;
  color: #ffffff;
}

.desc-2 { /* Контейнер со всем текстом */
  width: 160px;
  font-family: monospace;
  font-size: 15px;
  color:#ffffff;
  left:0;
  bottom: 2rem;
  line-height: 1.8;
  position: relative;
  transition: all 1s;
}

.main-2:hover .container-2 .title-2,
.main-2:hover .container-2 .desc-2{
    left:160%;
}